<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy | Maxbalk Data Protection Commitmenty</title>
    <meta
      name="description"
      content="Explore Maxbalk's privacy policy outlining our commitment to data protection. Understand how we collect, use, and protect your personal information."
    />
    <meta name="robots" content="noindex, follow" />
    <%- include('partials/preconnect') %>
    <link
      rel="preload"
      as="image"
      href="https://maxbalk.com/images/product-banner.webp"
    />

    <!-- Open Graph meta tags for social sharing -->
    <meta
      property="og:title"
      content="Privacy Policy | Maxbalk Data Protection Commitment"
    />
    <meta
      property="og:description"
      content="Explore Maxbalk's privacy policy outlining our commitment to data protection. Understand how we collect, use, and protect your personal information."
    />
    <meta property="og:url" content="https://maxbalk.com/privacy-policy" />
    <link rel="canonical" href="https://maxbalk.com/privacy-policy" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta
      name="twitter:title"
      content="Privacy Policy | Maxbalk Data Protection Commitment"
    />
    <meta
      name="twitter:description"
      content="Explore Maxbalk's privacy policy outlining our commitment to data protection. Understand how we collect, use, and protect your personal information."
    />

    <%- include('partials/metas'); -%>
  </head>

  <body>
    <%- include('partials/navbar'); -%>

    <!-- ! Tearms of use banner -->
    <section class="privacy-policy-banner banner p-t-100 p-b-100">
      <div class="maxbalk-container banner__container">
        <h1 class="h2 fc-w fw-6">Privacy Policy</h1>
      </div>
    </section>
    <!-- ! Tearms of use banner -->

    <!-- !privacy-section start-->
    <section class="privacy-section maxbalk-container m-t-100 m-b-100">
      <div class="m-b-100">
        <p>
          This Privacy Policy outlines how MAXBALK Systems Pvt Ltd ("we," "our,"
          or "us") collects, uses, and protects personal information obtained
          from users of the MAXBALK Systems website. By accessing and using our
          website, you consent to the practices described in this Privacy
          Policy.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Information We Collect:</h2>
        <ul>
          <li>
            <strong>Personal Information:</strong> We may collect personally
            identifiable information, such as names, email addresses, and
            contact details, when voluntarily submitted by users through forms
            or interactions on the website.
          </li>
          <li>
            <strong>Non-Personal Information:</strong> We may gather
            non-personal information, such as browser type, IP address, and
            referring pages, for statistical analysis and website improvement.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">How We Use Collected Information:</h2>
        <ul>
          <li>
            <strong>Personal Information:</strong> We use personal information
            to respond to user inquiries, send newsletters, and provide
            requested information.
          </li>
          <li>
            <strong>Non-Personal Information:</strong> Non-personal information
            is utilized for website analytics, optimizing user experience, and
            identifying areas for improvement.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Cookies and Tracking Technologies:</h2>
        <ul>
          <li>
            <strong>Cookies:</strong> MAXBALK Systems may use cookies to enhance
            user experience and track website usage. Users can control cookie
            preferences through their browser settings.
          </li>
          <li>
            <strong>Third-Party Analytics:</strong> Third-party analytics tools
            may be employed to collect non-personal information for statistical
            analysis.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Third-Party Disclosure:</h2>
        <ul>
          <li>
            <strong>Data Confidentiality:</strong> We do not sell, trade, or
            transfer personally identifiable information to external parties.
          </li>
          <li>
            <strong>Trusted Third Parties:</strong> Trusted third parties, such
            as website hosting and analytics providers, may access user
            information to assist in website operations.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Security Measures:</h2>
        <ul>
          <li>
            <strong>Security Measures:</strong> MAXBALK Systems employs
            industry-standard security measures to protect user information from
            unauthorized access or disclosure.
          </li>
          <li>
            <strong>Internet Security:</strong> While we strive to protect
            personal information, users acknowledge that internet security
            cannot be guaranteed.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Links to External Websites:</h2>
        <ul>
          <li>
            Our website may contain links to external sites. MAXBALK Systems is
            not responsible for the content or privacy practices of these
            third-party websites.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Children's Privacy:</h2>
        <ul>
          <li>
            MAXBALK Systems does not knowingly collect personal information from
            individuals under the age of 13. If we discover such information, it
            will be promptly deleted.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Updates to Privacy Policy:</h2>
        <ul>
          <li>
            MAXBALK Systems reserves the right to update this Privacy Policy.
            Users will be notified of any significant changes.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">User Choices and Opt-Out:</h2>
        <ul>
          <li>
            <strong>Choice Not to Provide Information:</strong> Users can choose
            not to provide personal information, but this may limit access to
            certain features.
          </li>
          <li>
            <strong>Opt-out Options:</strong> Opt-out options for newsletters or
            communications are provided in accordance with applicable laws.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">GDPR Compliance:</h2>
        <ul>
          <li>
            If you are a resident of the European Economic Area (EEA), MAXBALK
            Systems complies with the General Data Protection Regulation (GDPR)
            regarding the processing of personal information.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Contact Information</h2>
        <p>
          For questions or concerns regarding the Privacy Policy, please contact
          via email <a href="mailto:sales@maxbalk.com">sales@maxbalk.com</a>, or
          call on <a href="tel:+91 98331 55890"> +91 98331 55890</a>, or write
          to:
        </p>
        <p>
          <strong>Office Address: </strong>
          305, Virani Business Centre, Above Torrent Power Limited, Opp. Bharat
          Gears Company, Mumbra 400612
        </p>
      </div>
    </section>
    <!-- !privacy-section end-->

    <%- include('partials/call-to-action'); -%> <%- include('partials/footer');
    -%>
  </body>
</html>
