<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maxbalk Terms of Use | Legal Agreement for Website Visitors</title>
    <meta
      name="description"
      content="Review Maxbalk's Terms of Use, a legal agreement governing the use of our website. Understand your rights and obligations as a visitor to our site."
    />
    <meta name="robots" content="noindex, follow" />
    <%- include('partials/preconnect') %>
    <link
      rel="preload"
      as="image"
      href="https://maxbalk.com/images/product-banner.webp"
    />

    <!-- Open Graph meta tags for social sharing -->
    <meta
      property="og:title"
      content="Maxbalk Terms of Use | Legal Agreement for Website Visitors"
    />
    <meta
      property="og:description"
      content="Review Maxbalk's Terms of Use, a legal agreement governing the use of our website. Understand your rights and obligations as a visitor to our site."
    />
    <meta property="og:url" content="https://maxbalk.com/terms-of-use" />
    <link rel="canonical" href="https://maxbalk.com/terms-of-use" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta
      name="twitter:title"
      content="Maxbalk Terms of Use | Legal Agreement for Website Visitors"
    />
    <meta
      name="twitter:description"
      content="Review Maxbalk's Terms of Use, a legal agreement governing the use of our website. Understand your rights and obligations as a visitor to our site."
    />

    <%- include('partials/metas'); -%>
  </head>

  <body>
    <%- include('partials/navbar'); -%>

    <!-- ! Tearms of use banner -->
    <section class="terms-of-use-banner banner p-t-75 p-b-75">
      <div class="maxbalk-container">
        <div class="banner__container">
          <h1 class="h2 fc-w fw-6 tc">Terms Of Use</h1>
        </div>
      </div>
    </section>
    <!-- ! Tearms of use banner -->

    <!-- !Terms of use section start-->
    <section class="privacy-section maxbalk-container m-b-100 m-t-100">
      <div class="">
        <h2 class="m-b-20 m-t-50 h2">Acceptance of Terms</h2>
        <p>
          By accessing and utilizing this website, you affirm that you have
          read, comprehended, and consent to abide by the terms and conditions
          outlined herein. If any part of these terms is disagreeable to you,
          kindly abstain from using the website. Your ongoing use of the site
          signifies your acceptance of any revisions or updates to these terms.
          It remains your responsibility to periodically review this page for
          changes. These terms are applicable to all visitors, users, and others
          who access or utilize the services provided on this website.
        </p>

        <h2 class="m-b-20 m-t-50 h2">User Conduct</h2>
        <ul>
          <li>Engaging in any form of harassment, abuse, or discrimination.</li>
          <li>
            Uploading, transmitting, or distributing malicious software or any
            content that may disrupt or compromise the security of the website.
          </li>
          <li>
            Impersonating any person or entity or misrepresenting your
            affiliation with any entity.
          </li>
          <li>
            Posting or transmitting any content that is defamatory, obscene, or
            violates the rights of others.
          </li>
          <li>
            Attempting to gain unauthorized access to any part of the website or
            user accounts.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Intellectual Property</h2>
        <ul>
          <li>
            <strong>Ownership:</strong> All content, trademarks, logos,
            graphics, and intellectual property on this website are the property
            of Maxbalk Systems Pvt Ltd, its subsidiary, like MAXBALK Systems
            Pvt Ltd & Sovorun, unless otherwise stated. Use of our intellectual
            property without express permission is strictly prohibited.
          </li>
          <li>
            <strong>User Permissions:</strong> Users are granted a limited,
            non-exclusive, revocable license to access and use the content for
            personal or non-commercial purposes. Any unauthorized use,
            reproduction, or distribution of our intellectual property is
            expressly prohibited.
          </li>
          <li>
            <strong>Third-Party Content:</strong> Content originating from third
            parties is subject to their respective intellectual property rights.
            Users are responsible for understanding and adhering to any
            additional terms associated with such content.
          </li>
          <li>
            <strong>Notification of Violations:</strong> If you believe your
            intellectual property rights have been infringed upon, please notify
            us promptly, providing details for us to investigate and address the
            issue.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Prohibited Activities</h2>
        <ul>
          <li>
            <strong>Unlawful Conduct:</strong> Any activity that violates local,
            national, or international laws and regulations is strictly
            prohibited.
          </li>
          <li>
            <strong>Harassment or Abuse:</strong> Harassment, abuse, or any form
            of discriminatory behavior towards other users, staff, or any
            individuals associated with this website is not tolerated.
          </li>
          <li>
            <strong>Malicious Actions:</strong> Uploading, transmitting, or
            distributing any content or software that may harm, interfere with,
            or compromise the security of the website or its users is strictly
            prohibited.
          </li>
          <li>
            <strong>Impersonation:</strong> Impersonating any person, entity, or
            misrepresenting affiliation with any entity is not allowed.
          </li>
          <li>
            <strong>Infringement:</strong> Any activity that infringes upon the
            intellectual property rights of Maxbalk Systems Pvt Ltd, its
            subsidiary like Maxbalk Systems Pvt Ltd, or third parties is
            strictly prohibited.
          </li>
          <li>
            <strong>Unauthorized Access:</strong> Attempting to gain
            unauthorized access to any part of the website, user accounts, or
            sensitive information is strictly prohibited.
          </li>
        </ul>

        <h2 class="m-b-20 m-t-50 h2">Disclaimer of Warranties</h2>
        <p>
          <strong>As-Is Nature of the Website:</strong> This website is provided
          "as is" and "as available" without any warranties, whether express or
          implied. Maxbalk Systems Pvt Ltd makes no representations or
          warranties regarding the accuracy, completeness, or reliability of any
          content or functionality on the website.
        </p>
        <p>
          <strong>No Endorsement:</strong> Maxbalk Systems Pvt Ltd does not
          endorse, guarantee, or warrant any products, services, or information
          advertised or offered by third parties on the website.
        </p>
        <p>
          <strong>Use at Own Risk:</strong> Users acknowledge that they use the
          website at their own risk. Maxbalk Systems Pvt Ltd disclaims all
          warranties, including but not limited to the implied warranties of
          merchantability, fitness for a particular purpose, and
          non-infringement.
        </p>
        <p>
          <strong>No Warranty of Uninterrupted Access:</strong> Maxbalk
          Systems Pvt Ltd does not warrant that the website will be
          uninterrupted, error-free, secure, or free of viruses or other harmful
          components.
        </p>
        <p>
          <strong>Content Accuracy:</strong> While we strive to provide accurate
          and up-to-date information, Maxbalk Systems Pvt Ltd does not warrant
          the accuracy or completeness of the content on the website, and it may
          be subject to change without notice.
        </p>
        <p>
          Users are advised to use their discretion and judgment when accessing
          and relying on information from this website: Maxbalk Systems Pvt Ltd
          does not make any warranties or representations regarding the use of
          the content on the website in terms of its correctness, accuracy,
          adequacy, usefulness, timeliness, reliability, or otherwise.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Limitation of Liability</h2>
        <p>
          <strong>No Liability for Damages:</strong> Maxbalk Systems Pvt Ltd,
          its subsidiary like Maxbalk Systems Pvt Ltd and its affiliates,
          officers, employees, agents, and partners are not liable for any
          direct, indirect, incidental, consequential, or special damages
          arising from the use of, or inability to use, the website or its
          content.
        </p>
        <p>
          <strong>Third-Party Content:</strong> Maxbalk Systems Pvt Ltd is not
          responsible for any third-party content on the website. Any reliance
          on such content is at the user's own risk.
        </p>
        <p>
          <strong>No Responsibility for User Actions:</strong> Maxbalk Systems
          Pvt Ltd is not responsible for the actions, conduct, or content of
          users on the website. Users are solely responsible for their
          interactions and contributions.
        </p>
        <p>
          <strong>Limitation of Damages:</strong> To the fullest extent
          permitted by law, Maxbalk Systems Pvt Ltd disclaims any liability for
          damages, including but not limited to, damages for loss of profits,
          goodwill, use, data, or other intangible losses resulting from the use
          or inability to use the website.
        </p>
        <p>
          <strong>No Responsibility for External Links:</strong> Maxbalk
          Systems Pvt Ltd is not liable for the content or availability of
          external websites linked to from this website. Users access external
          links at their own risk.
        </p>
        <p>
          <strong>Force Majeure:</strong> Maxbalk Systems Pvt Ltd is not liable
          for any failure or delay in performance resulting from causes beyond
          its reasonable control, including acts of God, natural disasters, war,
          or other events that are unforeseeable.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Governing Law</h2>
        <p>
          <strong>Jurisdiction:</strong> These Terms of Use are governed by and
          construed in accordance with the laws of India. Users agree that any
          legal action or proceeding related to this website shall be brought
          exclusively in the courts of Thane, Maharashtra, India.
        </p>
        <p>
          <strong>Applicability of Laws:</strong> Users agree that, by accessing
          and using this website, they are doing so on their own initiative and
          are solely responsible for compliance with local laws, if and to the
          extent local laws are applicable.
        </p>
        <p>
          <strong>Conflict Resolution:</strong> In the event of any dispute or
          claim arising out of or in connection with these terms or the use of
          this website, users agree to first attempt to resolve the issue
          through good-faith negotiations. If a resolution cannot be reached,
          the matter shall be referred to the appropriate legal authorities.
        </p>
        <p>
          <strong>Waiver of Jury Trial:</strong> Users and Maxbalk Systems Pvt
          Ltd waive their right to a jury trial in any legal proceeding arising
          from or relating to these terms or the use of this website.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Changes to Terms</h2>
        <p>
          <strong>Notification of Changes:</strong> Maxbalk Systems Pvt Ltd
          reserves the right to modify, amend, or replace these Terms of Use at
          any time. Changes will be effective immediately upon posting on the
          website. Users are encouraged to regularly review this page for
          updates.
        </p>
        <p>
          <strong>Notice of Significant Changes:</strong> In the case of
          significant changes that may impact user rights, Maxbalk Systems Pvt
          Ltd will make reasonable efforts to provide notice, which may include
          email notification or prominent announcements on the website.
        </p>
        <p>
          <strong>Continued Use as Acceptance:</strong> Continued use of the
          website after changes to the terms constitutes acceptance of the
          modified terms.
        </p>
        <p>
          <strong>Dispute Regarding Changes:</strong> Users who do not agree
          with modifications to the terms should discontinue use of the website.
          Any dispute arising from changes to the terms will be governed by the
          version of the terms in place at the time of the disputed activity.
        </p>
        <p>
          It is the user's responsibility to stay informed about any changes to
          these terms. Maxbalk Systems Pvt Ltd is not liable for any loss or
          inconvenience resulting from a user's failure to review the updated
          terms.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Links to Third-Party Websites</h2>
        <p>
          <strong>External Links:</strong> This website may contain links to
          third-party websites for informational or reference purposes.
        </p>
        <p>
          <strong>No Endorsement:</strong> Maxbalk Systems Pvt Ltd does not
          endorse, control, or have any responsibility for the content,
          products, services, or privacy practices of these third-party
          websites.
        </p>
        <p>
          <strong>Use at Your Own Risk:</strong> Users acknowledge that they
          access external links at their own risk and that Maxbalk Systems Pvt
          Ltd is not responsible for any loss or damage incurred as a result of
          visiting these third-party sites.
        </p>
        <p>
          <strong>Independent Terms:</strong> Third-party websites are governed
          by their own terms of use and privacy policies. Users are encouraged
          to review these terms when accessing external links.
        </p>
        <p>
          <strong>Reporting Issues:</strong> If users encounter any issues with
          third-party links, they are encouraged to report the matter to Maxbalk
          Systems Pvt Ltd.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Dispute Resolution</h2>
        <p>
          <strong>Good-Faith Resolution:</strong> Users agree that in the event
          of any dispute or claim arising out of or in connection with these
          terms or the use of this website, they will first attempt to resolve
          the matter through good-faith negotiations.
        </p>
        <p>
          <strong>Mediation:</strong> If a resolution cannot be reached through
          negotiations, the parties agree to participate in mediation conducted
          by a neutral third party. The cost of mediation shall be shared
          equally, unless otherwise agreed.
        </p>
        <p>
          <strong>Arbitration:</strong> If mediation is unsuccessful, any
          remaining dispute shall be submitted to binding arbitration in
          accordance with the rules of Thane Arbitration Centre, Tembhi Naka,
          Dhobi Ali, Charai, Thane West, Thane, Maharashtra. The decision of the
          arbitrator shall be final and binding on both parties.
        </p>
        <p>
          <strong>Waiver of Jury Trial:</strong> By using this website, users
          and Maxbalk Systems Pvt Ltd waive their right to a jury trial in any
          legal proceeding arising from or relating to these terms or the use of
          this website.
        </p>
        <p>
          <strong>Governing Law:</strong> These dispute resolution provisions
          shall be governed by and construed in accordance with the laws of Th
          ane, Maharashtra, India.
        </p>
        <p>
          By using this website, users agree to these dispute resolution
          procedures and acknowledge that these provisions are a material
          inducement for Maxbalk Systems Pvt Ltd to permit users to access and
          use the website.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Indemnification</h2>
        <p>
          <strong>User Responsibility:</strong> Users agree to indemnify,
          defend, and hold harmless Maxbalk Systems Pvt Ltd, its subsidiaries
          like Maxbalk Systems Pvt Ltd, its affiliates, officers, employees,
          agents, and partners from any claims, liabilities, damages, costs, and
          expenses, including legal fees, arising from their use of the website
          or any violation of these terms.
        </p>
        <p>
          <strong>Claims Covered:</strong> This indemnification covers claims or
          demands made by any third party due to or arising out of user content,
          user conduct, or violation of applicable laws or rights.
        </p>
        <p>
          <strong>Notification of Claims:</strong> Maxbalk Systems Pvt Ltd will
          promptly notify users of any such claim, provide assistance in their
          defense, and grant users the opportunity to assume control of the
          defense if they so choose.
        </p>
        <p>
          <strong>Right to Participate:</strong> Maxbalk Systems Pvt Ltd
          reserves the right to participate in the defense of any claim at its
          expense.
        </p>
        <p>
          <strong>Good-Faith Cooperation:</strong> Users agree to cooperate in
          good faith with Maxbalk Systems Pvt Ltd in the defense of any claim
          and not to settle any claim without the prior written consent of
          Maxbalk Systems Pvt Ltd.
        </p>

        <h2 class="m-b-20 m-t-50 h2">Contact Information</h2>
        <p>
          For questions or concerns regarding the Terms of Use, please contact
          via email <a href="mailto:sales@maxbalk.com">sales@maxbalk.com</a>, or
          call on <a href="tel:+918655587403">+91 86555 87403</a>, or write to:
        </p>
        <p>
          Office Address: 305, Virani Business Centre, Above Torrent Power
          Limited, Opp. Bharat Gears Company, Mumbra 400612
        </p>
      </div>
    </section>
    <!-- !Terms of use  section end-->

    <%- include('partials/call-to-action'); -%> <%- include('partials/footer');
    -%>
  </body>
</html>
